$gap: 32px;
$color-white: #fff;
$color-black: #333;
$color-gray: #999;
$color-md-gray: #EAEAEA;
$color-grey-shade: #666;
$color-gray-light: #F6F6F6;
$color-primary: #A65CF0;
$color-primary-light: #C998FB;
$color-primary-shade: #7033AC;
$color-pink-violet: #EBD1FF;
$color-pink-light: #F8EFFF;
$color-orange: #FF862F;
$color-orange-light: #FFBD59;
$color-orange-shade: #BB370E;
$color-bone: #FFF5D1;
$color-modal: #c2c2c2;

